html {
  max-width: 1300px;
}

body {
  padding: 70px 20px 10px 20px;
  background-repeat: no-repeat;
}

.auth {
  width: 50%;
  float: right;
}

.feed {
  /*position: absolute;*/
  display: inline-block;
  width: 45%;
  float: right;
  vertical-align: top;
}

.profile {
  /*position: absolute;*/
  width: 55%;
  display: inline-block;
  vertical-align: top;
}

.navbar-brand {
  font-family: 'lobster', cursive;
  font-size: 30px;
}

.icon {
  position: relative;
  top: 10px;
  left: 5px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
}